*{
    box-sizing: border-box;
}

table{
    margin-left: auto;
    margin-right: auto;
}
tbody{
    float: left;
    left: 50%;
}

header, footer, nav, aside{
    padding: 3px;
}

header{
    background-color: whitesmoke;
    text-align: center;
    font-size: xx-large;
}

body{
    margin: 0;
}

nav{
    background-color: whitesmoke;
    text-align: center;
    display: block;
}

nav ul li{
    display: inline;   
    padding: 1px 45px 1px 45px; 
    text-transform: uppercase;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

p {
    margin: 0;
}

ul{
    margin: 0;
    margin-top: 2em;
}

aside{
    background-image: url("../img/vetorPizzas.jpg");
    background-size: cover;
    float: right;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    font-size: xx-large;
    text-shadow: 3px 3px  blueviolet;
    color: violet;
}

div article{
    padding-left: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
div h3{
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
}


/* tratamento de links */
a{
    color:rgb(241, 101, 124)
}

a:link{
    text-decoration: dashed;
    color: blueviolet;
}

a:active{
    color: pink;
}

a:visited{
    text-decoration: dashed;
    color: violet;
}

a:hover{
    color: crimson;
}


/* Formatação dos ID'S */
#slogan{
    font-family: 'Beth Ellen', cursive;
    font-weight: 400;
    font-size: medium;
}

#typo{
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    font-size: xx-large;
    padding: 0;
}

#map{
    width: 100%;
    height: 600px;
    border: none;
    margin: none;
}

#lista_sabores{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
} 

#menu{
    display: none;
}


/* Formatação de Classes */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: whitesmoke;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: springgreen;
  color: black;
  font-family: 'Courier Prime', monospace;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: lavenderblush;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.forms{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.formCad{
    text-align: right;
    padding-right: 50em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.table{
    padding: 2em;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Courier Prime', monospace;
    border-style: dotted;
}

.sabor{
	width: 400px;
	min-height: 100px;
	padding: 5px;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	margin: 5px;
	transition: 0.5s;
}

.sabor:hover{
	box-shadow: 3px 3px 10px whitesmoke;
	transition: 0.5s;
}

.sabor img{
	width: 80px;
	border-radius: 40px;
	margin: 0 20px 0 20px;
}

.sabor label{
	display: flex;
	align-items: center;
}

.sabor_descricao{
	display: flex;
	flex-direction: column;
}

.pedido{
    padding: 2em;
    font-family: 'Courier Prime', monospace;
}

.header {
    padding: 10px 16px;
    background: whitesmoke;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}


@media screen and (max-width: 900px) {
    nav ul li {
        display: block;
        margin-top: 0;
    }
    ul{
        margin-top: 0;
    }
    
    nav  {
        display: none;
    }
    
    #menu{
        color: black;
        border: 1px solid white;
        padding: 5px;
        display: block;
        font-family: 'Courier Prime', monospace;
        font-size:medium;
    }

    #hideAside{
        display: none;
    }

    .formCad{
        padding: 0 1em 0 0;
        font-weight: 400;
    }
    .topnav {
      float: right;
      display: block;
    }
    footer{
        display: none;
    }
    .open-button{
        display: none;
    }
  }

  
 